{:paths ["src" "bin" "test" "../edn/src" "../org-nist-sha2/src" "../org-omg-sysmlv2/src"]
 :deps {
        ;; kotoba.pprint replaced clojure.pprint here (2026-09-24): the same
        ;; bytes (cljs.pprint transcribed). An explicit floor; tools.deps takes the
        ;; NEWEST sha it is shown.
        io.github.kotoba-lang/pprint {:git/sha "5c9d4aea71d6caac529fffcf361aba0f87ee485e"}
        ;; kotoba.lang.coll replaced clojure.set here (2026-09-24). An explicit
        ;; floor: kotoba.lang.coll carries clojure.set's union/intersection/
        ;; difference/map-invert from 0ffd5f6, and tools.deps takes the NEWEST
        ;; sha it is shown.
        io.github.kotoba-lang/coll {:git/sha "f74e248f0a07e8ae572885f50fab6bdb39dc24be"}
        io.github.kotoba-lang/datalog {:git/url "https://github.com/kotoba-lang/datalog.git"
                                       :git/sha "d18513af533917539c56435de6fb1426738da31a"}}}